* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    
}
.welcome {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.welcome #nav {
    width: 100%;
    height: 10%;
    padding: 0;
    margin: 0; 
    box-shadow: 0px 2px 10px grey;
     
}

.welcome #nav .logo {
    width: 40%;
    height: 100%;
    margin: 0;
    display: inline-block;
}

.welcome #nav .logo img {
    width: 50%;
    height: 100%;
    margin: 0 10%;
    padding: 0;
}

.welcome #nav .menu { 
    width: 40%;
    height: 100%;
    display: inline-block;
    margin: 0;
    float: right;
}

.welcome #nav .menu img {
    width: auto;
    height: 50%;
    margin: 15% 15% 0 0;
    padding: 0;
    float: right;
}


#menu-hamburger {
    display: none;
}

.welcome #singup {
    
    width: 100vw;
    height: 90vh;
    
}


.welcome #singup .singin-email {
   
    width: 100%;
    height: 40%;
}

.welcome #singup .singin-email .singin-form {
    
    display: inline-block;
    width: 100%;
    height: 80%;;

}
.welcome #singup .singin-email .singin-form #email[type=text] {
    width: 70%;
    height: 25%;
    display: block;
    color: black;
    background-color: #F3D1CD;
    border-radius: 10px;
    border:none;
    margin: 10%  auto 5% auto;
    box-shadow: 0px 2px 10px grey;
    text-align: center;
    font-size: 1.5rem;
}
.welcome #singup .singin-email .singin-form #password[type=password] {
    width: 70%;
    height: 25%;
    display: block;
    color: black;
    background-color: #F3D1CD;
    border-radius: 10px;
    border: none;
    border-radius: 10px;
    margin: 5% auto;
    box-shadow: 0px 2px 10px grey;
    text-align: center;
    font-size: 1.5rem;
    
}
.welcome #singup .singin-email .singin-form .send {
    display: block;
    width: 70%;
    height: 25%;
    border: none;
    color: #676767;
    background-color:#85E0D6;
    text-align: center;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 2px 10px grey;
    margin: auto;
}

.welcome #singup .singin-socialnetwork {
    width: 100%;
    height: 30%;
}
.welcome #singup .singin-socialnetwork p {
   
    width: 5%;
    height: 15%;
    font-size: 2rem;
    margin: 0 auto 2% auto;
}

.welcome #singup .singin-socialnetwork .social-icons {
    width: 100%;
    height: 50%;
    margin: 5% auto;
    
}

.welcome #singup .singin-socialnetwork .social-icons .btn {
    display: inline-block;
    background-color:#F3D1CD;
    width: 20%;
    height: 80%;
    margin: 0 2%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 2px 10px grey;
    color: #676767;
}

.welcome #singup .singin-socialnetwork .social-icons .btn i {
    line-height: 75px;
    font-size: 2rem;
    transition: .2s linear;
}

/*no lo está aplicando*/
.btn:hover i  {
    background-color: #85E0D6;
    
}

.welcome #singup .login  {
    width: 100%;
    height: 30%;
}

.welcome #singup .login h1 {
    width: 55%;
    height: 20%;
    margin: 0 auto;
}
.welcome #singup .login .login-form #email-login[type=text] {
    width: 70%;
    height: 40%;
    display: block;
    color: black;
    background-color: #F3D1CD;
    border-radius: 10px;
    border:none;
    margin:0%  auto 5% auto;
    box-shadow: 0px 2px 10px grey;
    text-align: center;
    font-size: 1rem;
}
.welcome #singup .login .login-form #password-login[type=password] {
    width: 70%;
    height: 40%;
    display: block;
    color: black;
    background-color: #F3D1CD;
    border-radius: 10px;
    border:none;
    margin: 5%  auto 5% auto;
    box-shadow: 0px 2px 10px grey;
    text-align: center;
    font-size: 1rem;
}

.welcome #singup .login .login-form .send-login {
    display: block;
    width: 70%;
    height: 25%;
    border: none;
    color: #676767;
    background-color:#85E0D6;
    text-align: center;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 2px 10px grey;
    margin: auto;
}

#appear{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
h2{
    margin: 0 auto;
    color: white;
    background-color:#85E0D6 ;
}